/* ! FOOTER ! */
footer {
   clear: both;
   width: 100%;
   height: 500px;
   outline-offset: 3px;
   background-size: cover;
   background-position-y: -220px;
   background-position-x: center;
   outline: 1px solid goldenrod;
   border-top: 2px solid teal;
   background-image: url(../../../Photos/passport.jpg);
}
   .foot_container {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-color: rgb(0, 0, 0, 0.6);

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
   }
      .foot_top {
         width: 98%;
         height: 85%;
         
         display: flex;
         align-items: center;
         justify-content: flex-start;
      }
         .foot_disclaimer {
            width: 35%;
            height: 100%;
            padding: 15px;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
         }
            .disclaimer_logo {
               width: 100%;
            }
               .disclaimer_logo a {
                  width: 100%;
                  transition: all 0.25s;
               }
                  .disclaimer_logo a img {
                     width: 100%;
                  }
                  .disclaimer_logo a:hover {
                     opacity: 0.75;
                     transition: all 0.25s;
                  }
            .disclaimer_description {
               width: 100%;
               box-sizing: border-box;
            }
               .disclaimer_description p {
                  width: 100%;
                  font-size: 13px;
                  text-indent: 10%;
                  color: rgb(255, 255, 255);
                  font-family: "Montserrat", sans-serif;
               }
            .miscellaneous_content {
               width: 100%;
               box-sizing: border-box;
               
               display: flex;
               align-items: center;
               justify-content: center;
            }
               .miscellaneous_content a {
                  width: 50%;
                  transition: all 0.25s;
               }
                  .miscellaneous_content a:hover {
                     opacity: 0.75;
                     transition: all 0.25s;
                  }
                  .miscellaneous_content a img {
                     width: 100%;
                  }
         .offices {
            width: 25%;
            height: 100%;
            padding: 15px;
            box-sizing: border-box;
         }
            .USA_Office {
               width: 100%;
               height: 55%;
               padding: 10px;
               box-sizing: border-box;

               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: space-between;
            }
               .USA_Office h2 {
                  width: 100%;
                  padding: 5px 0;
                  color: white;
                  font-size: 20px;
                  text-align: center;
                  box-sizing: border-box;
                  border-bottom: 1px solid teal;
                  font-family: "Montserrat", sans-serif;
               }
               .USA_office_address {
                  width: 100%;
                  height: 60px;
                  color: white;
                  box-sizing: border-box;

                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: space-around;
               }
                  .USA_office_address h4 {
                     width: 100%;
                     font-size: 15px;
                     color: rgb(255, 255, 255, 0.7);
                     font-family: "Montserrat", sans-serif;
                  }
                     .USA_office_address h4 i {
                        color: goldenrod;
                     }
                  .USA_office_address p {
                     width: 100%;
                     font-size: 14px;
                     color: rgb(255, 255, 255, 0.7);
                     font-family: "Montserrat", sans-serif;
                  }
               .USA_office_contacts {
                  width: 100%;
                  height: 100px;
                  color: white;
                  box-sizing: border-box;
               }
                  .USA_Email {
                     width: 100%;
                     height: 50%;
                     color: white;
                     box-sizing: border-box;
                     
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     justify-content: space-around;
                  }
                     .USA_Email h4 {
                        width: 100%;
                        font-size: 15px;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
                        .USA_Email h4 i {
                           color: goldenrod;
                        }
                     .USA_Email p {
                        width: 100%;
                        font-size: 14px;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
                  .USA_Phone {
                     width: 100%;
                     height: 50%;
                     color: white;
                     box-sizing: border-box;
                     
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     justify-content: space-around;
                  }
                     .USA_Phone h4 {
                        width: 100%;
                        font-size: 15px;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
                        .USA_Phone h4 i {
                           color: goldenrod;
                        }
                     .USA_Phone p {
                        width: 100%;
                        font-size: 14px;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
            .PH_Office {
               width: 100%;
               height: 55%;
               padding: 10px;
               box-sizing: border-box;
               
               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: space-between;
            }
               .PH_Office h2 {
                  width: 100%;
                  padding: 5px 0;
                  color: white;
                  font-size: 20px;
                  text-align: center;
                  box-sizing: border-box;
                  border-bottom: 1px solid teal;
                  font-family: "Montserrat", sans-serif;
               }
               .PH_office_cebu {
                  width: 100%;
                  height: 70px;
                  color: white;
                  box-sizing: border-box;

                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: space-around;
               }
                  .PH_office_cebu h4 {
                     width: 100%;
                     font-size: 15px;
                     color: rgb(255, 255, 255, 0.7);
                     font-family: "Montserrat", sans-serif;
                  }
                     .PH_office_cebu h4 i {
                        color: goldenrod;
                     }
                  .PH_office_cebu p {
                     width: 100%;
                     font-size: 14px;
                     color: rgb(255, 255, 255, 0.7);
                     font-family: "Montserrat", sans-serif;
                  }
               .PH_office_dagupan {
                  width: 100%;
                  height: 50px;
                  color: white;
                  box-sizing: border-box;

                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: space-around;
               }
                  .PH_office_dagupan h4 {
                     width: 100%;
                     font-size: 15px;
                     color: rgb(255, 255, 255, 0.7);
                     font-family: "Montserrat", sans-serif;
                  }
                     .PH_office_dagupan h4 i {
                        color: goldenrod;
                     }
                  .PH_office_dagupan p {
                     width: 100%;
                     font-size: 14px;
                     color: rgb(255, 255, 255, 0.7);
                     font-family: "Montserrat", sans-serif;
                  }
         .foot_pages {
            width: 20%;
            height: 100%;
            padding: 15px;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
         }
            .footer_about {
               width: 100%;
               height: 30%;
               box-sizing: border-box;
               
               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: flex-start;
            }
               .footer_about h2 {
                  width: 100%;
                  height: 30%;
                  padding: 0 10px;
                  color: white;
                  font-size: 20px;
                  text-align: start;
                  box-sizing: border-box;
                  border-bottom: 1px solid teal;
                  font-family: "Montserrat", sans-serif;

                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
               }
               .about_links {
                  width: 100%;
                  height: 70%;
                  box-sizing: border-box;
                  border-left: 1px solid teal;

                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: space-evenly;
               }
                  .about_links a {
                     padding: 5px;
                     color: white;
                     font-size: 15px;
                     text-align: center;
                     transition: all 0.3s;
                     text-decoration: none;
                     box-sizing: border-box;
                     border-bottom: 1px solid goldenrod;
                     font-family: "Montserrat", sans-serif;
                  }
                     .about_links a:hover {
                        color: goldenrod;
                        transition: all 0.3s;
                        border-bottom: 1px solid white;
                     }
            .footer_process {
               width: 100%;
               height: 40%;
               box-sizing: border-box;
               
               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: flex-start;
            }
               .footer_process h2 {
                  width: 100%;
                  height: 20%;
                  padding: 0 10px;
                  color: white;
                  font-size: 20px;
                  text-align: start;
                  box-sizing: border-box;
                  border-bottom: 1px solid teal;
                  font-family: "Montserrat", sans-serif;

                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
               }
               .process_links {
                  width: 100%;
                  height: 80%;
                  box-sizing: border-box;
                  border-left: 1px solid teal;

                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: space-evenly;
               }
                  .process_links a {
                     padding: 5px 10px;
                     color: white;
                     font-size: 15px;
                     text-align: center;
                     transition: all 0.3s;
                     text-decoration: none;
                     box-sizing: border-box;
                     border-bottom: 1px solid goldenrod;
                     font-family: "Montserrat", sans-serif;
                  }
                     .process_links a:hover {
                        color: goldenrod;
                        transition: all 0.3s;
                        border-bottom: 1px solid white;
                     }
            .footer_news {
               width: 100%;
               height: 20%;
               box-sizing: border-box;

               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: flex-start;
            }
               .footer_news h2 {
                  width: 100%;
                  height: 50%;
                  padding: 0 10px;
                  color: white;
                  font-size: 20px;
                  text-align: start;
                  box-sizing: border-box;
                  border-bottom: 1px solid teal;
                  font-family: "Montserrat", sans-serif;

                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
               }
               .news_links {
                  width: 100%;
                  height: 50%;
                  box-sizing: border-box;
                  border-left: 1px solid teal;

                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: space-evenly;
               }
                  .news_links a {
                     padding: 5px 10px;
                     color: white;
                     font-size: 15px;
                     text-align: center;
                     transition: all 0.3s;
                     text-decoration: none;
                     box-sizing: border-box;
                     border-bottom: 1px solid goldenrod;
                     font-family: "Montserrat", sans-serif;
                  }
                     .news_links a:hover {
                        color: goldenrod;
                        transition: all 0.3s;
                        border-bottom: 1px solid white;
                     }
         .foot_contacts {
            width: 20%;
            height: 100%;
            padding: 15px;
            box-sizing: border-box;

            gap: 30px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
         }
            .social_media {
               width: 100%;
               height: 70px;
               box-sizing: border-box;

               display: flex;
               align-items: center;
               justify-content: center;
            }
               .social_media h2 {
                  width: 50%;
                  height: 100%;
                  color: white;
                  font-size: 18px;
                  box-sizing: border-box;
                  font-family: "Montserrat", sans-serif;

                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
               .socmed_container {
                  width: 50%;
                  height: 100%;
                  box-sizing: border-box;

                  display: flex;
                  align-items: center;
                  justify-content: space-evenly;
               }
                  .socmed_container a {
                     width: 40%;
                     color: white;
                     font-size: 25px;
                     aspect-ratio: 1/1;
                     transition: 0.3s;
                     border-radius: 5px;
                     text-decoration: none;
                     border: 1px solid white;
                     
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                     .socmed_container a:hover {
                        transition: 0.3s;
                        border-radius: 30%;
                     }

                     .socialButton1 {
                        transition: 0.25s;
                     }
                        .socialButton1:hover {
                           color: blue;
                           transition: 0.25s;
                        }
                     .socialButton2 {
                        transition: 0.25s;
                     }
                        .socialButton2:hover {
                           color: fuchsia;
                           transition: 0.25s;
                        }
            .contact_us {
               width: 100%;
               height: 100px;
               box-sizing: border-box;

               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: center;
            }
               .contact_us h2 {
                  width: 100%;
                  height: 40%;
                  color: white;
                  font-size: 18px;
                  box-sizing: border-box;
                  font-family: "Montserrat", sans-serif;

                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
               .contact_link {
                  width: 100%;
                  height: 60%;
                  box-sizing: border-box;

                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
                  .contact_link a {
                     width: 90%;
                     height: 90%;
                     color: white;
                     font-size: 20px;
                     border-radius: 5px;
                     transition: all 0.3s;
                     text-decoration: none;
                     box-sizing: border-box;
                     border: 1px solid teal;
                     font-family: "Montserrat", sans-serif;

                     gap: 20px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                     .contact_link a:hover {
                        transition: all 0.3s;
                        background-color: teal;
                     }
                     .contact_link a #icon1 {
                        display: block;
                     }
                     .contact_link a #icon2 {
                        display: none;
                     }
                     .contact_link a:hover #icon1{
                        display: none;
                        transition: all 1s;
                     }
                     .contact_link a:hover #icon2{
                        display: block;
                        transition: all 1s;
                     }
            .tech_team {
               width: 100%;
               height: 100px;
               box-sizing: border-box;

               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: center;
            }
               .tech_team h2 {
                  width: 100%;
                  height: 40%;
                  color: white;
                  font-size: 18px;
                  box-sizing: border-box;
                  font-family: "Montserrat", sans-serif;

                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
               .tech_link {
                  width: 100%;
                  height: 60%;
                  box-sizing: border-box;

                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
                  .tech_link a {
                     width: 90%;
                     height: 90%;
                     color: white;
                     font-size: 20px;
                     border-radius: 5px;
                     transition: all 0.3s;
                     text-decoration: none;
                     box-sizing: border-box;
                     border: 1px solid teal;
                     font-family: "Montserrat", sans-serif;

                     gap: 20px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                     .tech_link a:hover {
                        transition: all 0.3s;
                        background-color: teal;
                     }
                     .tech_link a #icon1 {
                        display: block;
                     }
                     .tech_link a #icon2 {
                        display: none;
                     }
                     .tech_link a:hover #icon1{
                        display: none;
                        transition: all 1s;
                     }
                     .tech_link a:hover #icon2{
                        display: block;
                        transition: all 1s;
                     }
      .foot_bottom {
         width: 98%;
         height: 15%;
         padding: 15px;
         box-sizing: border-box;

         display: flex;
         align-items: center;
         justify-content: center;
      }
         .foot_bottom p {
            width: 100%;
            font-size: 15px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            font-family: "Montserrat", sans-serif;
         }
/*       RESPONSIVE FOOTER DESIGN START          */
@media only screen and (max-width: 600px) {
   footer {
      clear: both;
      width: auto;
      height: max-content;
      outline-offset: 3px;
      background-size: cover;
      background-position-y: -220px;
      background-position-x: center;
      outline: 1px solid goldenrod;
      border-top: 2px solid teal;
      background-image: url(../../../Photos/passport.jpg);
   }
      .foot_container {
         width: auto;
         height: auto;
         box-sizing: border-box;
         background-color: rgb(0, 0, 0, 0.6);
         
         display: flex;
         align-items: center;
         flex-flow: column nowrap;
         justify-content: center;
      }
         .foot_top {
            width: auto;
            height: auto;
            margin-top: 20px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
         }
            .foot_disclaimer {
               width: auto;
               height: auto;
               padding: 15px;
               box-sizing: border-box;
   
               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: center;
            }
               .disclaimer_logo {
                  width: 100%;
               }
                  .disclaimer_logo a {
                     width: 100%;
                     transition: all 0.25s;
                  }
                     .disclaimer_logo a img {
                        width: 100%;
                     }
                     .disclaimer_logo a:hover {
                        opacity: 0.75;
                        transition: all 0.25s;
                     }
               .disclaimer_description {
                  width: 100%;
                  box-sizing: border-box;
               }
                  .disclaimer_description p {
                     width: 100%;
                     font-size: 13px;
                     text-indent: 10%;
                     color: rgb(255, 255, 255);
                     font-family: "Montserrat", sans-serif;
                  }
               .miscellaneous_content {
                  width: 100%;
                  box-sizing: border-box;
                  
                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
                  .miscellaneous_content a {
                     width: 50%;
                     transition: all 0.25s;
                  }
                     .miscellaneous_content a:hover {
                        opacity: 0.75;
                        transition: all 0.25s;
                     }
                     .miscellaneous_content a img {
                        width: 100%;
                     }
            .offices {
               width: auto;
               height: auto;
               padding: 15px;
               box-sizing: border-box;
            }
               .USA_Office {
                  width: 100%;
                  height: 55%;
                  padding: 10px;
                  box-sizing: border-box;
   
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: space-between;
               }
                  .USA_Office h2 {
                     width: 100%;
                     padding: 5px 0;
                     color: white;
                     text-align: center;
                     box-sizing: border-box;
                     border-bottom: 1px solid teal;
                     font-family: "Montserrat", sans-serif;
                  }
                  .USA_office_address {
                     width: 100%;
                     height: 60px;
                     color: white;
                     box-sizing: border-box;
   
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     justify-content: space-around;
                  }
                     .USA_office_address h4 {
                        width: 100%;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
                        .USA_office_address h4 i {
                           color: goldenrod;
                        }
                     .USA_office_address p {
                        width: 100%;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
                  .USA_office_contacts {
                     width: 100%;
                     height: 100px;
                     color: white;
                     box-sizing: border-box;
                  }
                     .USA_Email {
                        width: 100%;
                        height: 50%;
                        color: white;
                        box-sizing: border-box;
                        
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-around;
                     }
                        .USA_Email h4 {
                           width: 100%;
                           color: rgb(255, 255, 255, 0.7);
                           font-family: "Montserrat", sans-serif;
                        }
                           .USA_Email h4 i {
                              color: goldenrod;
                           }
                        .USA_Email p {
                           width: 100%;
                           color: rgb(255, 255, 255, 0.7);
                           font-family: "Montserrat", sans-serif;
                        }
                     .USA_Phone {
                        width: 100%;
                        height: 50%;
                        color: white;
                        box-sizing: border-box;
                        
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-around;
                     }
                        .USA_Phone h4 {
                           width: 100%;
                           color: rgb(255, 255, 255, 0.7);
                           font-family: "Montserrat", sans-serif;
                        }
                           .USA_Phone h4 i {
                              color: goldenrod;
                           }
                        .USA_Phone p {
                           width: 100%;
                           color: rgb(255, 255, 255, 0.7);
                           font-family: "Montserrat", sans-serif;
                        }
               .PH_Office {
                  width: 100%;
                  height: 55%;
                  padding: 10px;
                  box-sizing: border-box;
                  
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: space-between;
               }
                  .PH_Office h2 {
                     width: 100%;
                     padding: 5px 0;
                     color: white;
                     text-align: center;
                     box-sizing: border-box;
                     border-bottom: 1px solid teal;
                     font-family: "Montserrat", sans-serif;
                  }
                  .PH_office_cebu {
                     width: 100%;
                     height: 70px;
                     color: white;
                     box-sizing: border-box;
   
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     justify-content: space-around;
                  }
                     .PH_office_cebu h4 {
                        width: 100%;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
                        .PH_office_cebu h4 i {
                           color: goldenrod;
                        }
                     .PH_office_cebu p {
                        width: 100%;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
                  .PH_office_dagupan {
                     width: 100%;
                     height: 50px;
                     color: white;
                     box-sizing: border-box;
   
                     display: flex;
                     align-items: center;
                     flex-direction: column;
                     justify-content: space-around;
                  }
                     .PH_office_dagupan h4 {
                        width: 100%;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
                        .PH_office_dagupan h4 i {
                           color: goldenrod;
                        }
                     .PH_office_dagupan p {
                        width: 100%;
                        color: rgb(255, 255, 255, 0.7);
                        font-family: "Montserrat", sans-serif;
                     }
            .foot_pages {
               width: 100%;
               height: auto;
               padding: 15px;
               box-sizing: border-box;
               gap: 10px;
               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: space-between;
            }
               .footer_about {
                  width: 100%;
                  height: 30%;
                  box-sizing: border-box;
                  
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: flex-start;
               }
                  .footer_about h2 {
                     width: 100%;
                     height: 30%;
                     padding: 0 10px;
                     color: white;
                     font-size: 20px;
                     text-align: start;
                     box-sizing: border-box;
                     border-bottom: 1px solid teal;
                     font-family: "Montserrat", sans-serif;
   
                     display: flex;
                     align-items: center;
                     justify-content: flex-start;
                  }
                  .about_links {
                     width: 100%;
                     height: 70%;
                     box-sizing: border-box;
                     border-left: 1px solid teal;
   
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     justify-content: space-evenly;
                  }
                     .about_links a {
                        padding: 5px;
                        color: white;
                        font-size: 15px;
                        text-align: center;
                        transition: all 0.3s;
                        text-decoration: none;
                        box-sizing: border-box;
                        border-bottom: 1px solid goldenrod;
                        font-family: "Montserrat", sans-serif;
                     }
                        .about_links a:hover {
                           color: goldenrod;
                           transition: all 0.3s;
                           border-bottom: 1px solid white;
                        }
               .footer_process {
                  width: 100%;
                  height: 40%;
                  box-sizing: border-box;
                  
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: flex-start;
               }
                  .footer_process h2 {
                     width: 100%;
                     height: 20%;
                     padding: 0 10px;
                     color: white;
                     font-size: 20px;
                     text-align: start;
                     box-sizing: border-box;
                     border-bottom: 1px solid teal;
                     font-family: "Montserrat", sans-serif;
   
                     display: flex;
                     align-items: center;
                     justify-content: flex-start;
                  }
                  .process_links {
                     width: 100%;
                     height: 80%;
                     box-sizing: border-box;
                     border-left: 1px solid teal;
   
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     justify-content: space-evenly;
                  }
                     .process_links a {
                        padding: 5px 10px;
                        color: white;
                        font-size: 15px;
                        text-align: center;
                        transition: all 0.3s;
                        text-decoration: none;
                        box-sizing: border-box;
                        border-bottom: 1px solid goldenrod;
                        font-family: "Montserrat", sans-serif;
                     }
                        .process_links a:hover {
                           color: goldenrod;
                           transition: all 0.3s;
                           border-bottom: 1px solid white;
                        }
               .footer_news {
                  width: 100%;
                  height: 20%;
                  box-sizing: border-box;
   
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: flex-start;
               }
                  .footer_news h2 {
                     width: 100%;
                     height: 50%;
                     padding: 0 10px;
                     color: white;
                     font-size: 20px;
                     text-align: start;
                     box-sizing: border-box;
                     border-bottom: 1px solid teal;
                     font-family: "Montserrat", sans-serif;
   
                     display: flex;
                     align-items: center;
                     justify-content: flex-start;
                  }
                  .news_links {
                     width: 100%;
                     height: 50%;
                     box-sizing: border-box;
                     border-left: 1px solid teal;
   
                     display: flex;
                     flex-direction: column;
                     align-items: flex-start;
                     justify-content: space-evenly;
                  }
                     .news_links a {
                        padding: 5px 10px;
                        color: white;
                        font-size: 15px;
                        text-align: center;
                        transition: all 0.3s;
                        text-decoration: none;
                        box-sizing: border-box;
                        border-bottom: 1px solid goldenrod;
                        font-family: "Montserrat", sans-serif;
                     }
                        .news_links a:hover {
                           color: goldenrod;
                           transition: all 0.3s;
                           border-bottom: 1px solid white;
                        }
            .foot_contacts {
               width: 100%;
               height: 100%;
               padding: 15px;
               box-sizing: border-box;
   
               gap: 30px;
               display: flex;
               align-items: center;
               flex-direction: column;
               justify-content: flex-start;
            }
               .social_media {
                  width: 100%;
                  height: 70px;
                  box-sizing: border-box;
   
                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
                  .social_media h2 {
                     width: 50%;
                     height: 100%;
                     color: white;
                     box-sizing: border-box;
                     font-family: "Montserrat", sans-serif;
   
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                  .socmed_container {
                     width: 50%;
                     height: 100%;
                     box-sizing: border-box;
   
                     display: flex;
                     align-items: center;
                     justify-content: space-evenly;
                  }
                     .socmed_container a {
                        width: 40%;
                        color: white;
                        font-size: 25px;
                        aspect-ratio: 1/1;
                        transition: 0.3s;
                        border-radius: 5px;
                        text-decoration: none;
                        border: 1px solid white;
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                     }
                        .socmed_container a:hover {
                           transition: 0.3s;
                           border-radius: 30%;
                        }
   
                        .socialButton1 {
                           transition: 0.25s;
                        }
                           .socialButton1:hover {
                              color: blue;
                              transition: 0.25s;
                           }
                        .socialButton2 {
                           transition: 0.25s;
                        }
                           .socialButton2:hover {
                              color: fuchsia;
                              transition: 0.25s;
                           }
               .contact_us {
                  width: 100%;
                  height: 100px;
                  box-sizing: border-box;
   
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: center;
               }
                  .contact_us h2 {
                     width: 100%;
                     height: 40%;
                     color: white;
                     box-sizing: border-box;
                     font-family: "Montserrat", sans-serif;
   
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                  .contact_link {
                     width: 100%;
                     height: 60%;
                     box-sizing: border-box;
   
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                     .contact_link a {
                        width: 90%;
                        height: 90%;
                        color: white;
                        font-size: 20px;
                        border-radius: 5px;
                        transition: all 0.3s;
                        text-decoration: none;
                        box-sizing: border-box;
                        border: 1px solid teal;
                        font-family: "Montserrat", sans-serif;
   
                        gap: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                     }
                        .contact_link a:hover {
                           transition: all 0.3s;
                           background-color: teal;
                        }
                        .contact_link a #icon1 {
                           display: block;
                        }
                        .contact_link a #icon2 {
                           display: none;
                        }
                        .contact_link a:hover #icon1{
                           display: none;
                           transition: all 1s;
                        }
                        .contact_link a:hover #icon2{
                           display: block;
                           transition: all 1s;
                        }
               .tech_team {
                  width: 100%;
                  height: 100px;
                  box-sizing: border-box;
   
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  justify-content: center;
               }
                  .tech_team h2 {
                     width: 100%;
                     height: 40%;
                     color: white;
                     box-sizing: border-box;
                     font-family: "Montserrat", sans-serif;
   
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                  .tech_link {
                     width: 100%;
                     height: 60%;
                     box-sizing: border-box;
   
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                     .tech_link a {
                        width: 90%;
                        height: 90%;
                        color: white;
                        font-size: 20px;
                        border-radius: 5px;
                        transition: all 0.3s;
                        text-decoration: none;
                        box-sizing: border-box;
                        border: 1px solid teal;
                        font-family: "Montserrat", sans-serif;
   
                        gap: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                     }
                        .tech_link a:hover {
                           transition: all 0.3s;
                           background-color: teal;
                        }
                        .tech_link a #icon1 {
                           display: block;
                        }
                        .tech_link a #icon2 {
                           display: none;
                        }
                        .tech_link a:hover #icon1{
                           display: none;
                           transition: all 1s;
                        }
                        .tech_link a:hover #icon2{
                           display: block;
                           transition: all 1s;
                        }
         .foot_bottom {
            width: 98%;
            height: 15%;
            padding: 15px;
            box-sizing: border-box;
   
            display: flex;
            align-items: center;
            justify-content: center;
         }
            .foot_bottom p {
               width: 100%;
               font-size: 15px;
               font-weight: 500;
               color: rgb(255, 255, 255);
               font-family: "Montserrat", sans-serif;
            }
}
/* ! FOOTER [ END ] ! */ 