/* ! NAVBAR ! */
.navbar {
   width: 100%;
   height: 60px;
   box-sizing: border-box;
   background-size: cover;
   outline: 1px solid gold;
   background-image: url(../../../Photos/silk.jpg);
   top: 0;
   z-index: 10;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
   .logo_holder {
      width: 25%;
      left: 30px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
      .nav_logo {
         width: 100%;
         opacity: 0.8;
         transition: all 0.2s;
         display: flex;
         align-items: center;
         justify-content: center;
      }
         .nav_logo:hover {
            opacity: 2;
            border-radius: 15px;
            transition: all 0.2s;
            background-color: transparent;
         }
         .nav_logo img {
            width: 90%;
         }
   .link_holder {
      width: 45%;
      height: inherit;
      top: 0;
      right: 20px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }
      .nav_links {
         width: auto;
         height: 70%;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
      }
         .nav_links a {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            font-size: 15px;
            font-weight: 300;
            text-align: center;
            transition: all 0.2s;
            text-decoration: none;
            color: rgb(37, 37, 37);
            font-family: "Montserrat", sans-serif;

            display: flex;
            align-items: center;
            justify-content: center;
         }
            .nav_links a:hover {
               font-weight: 400;
               color: goldenrod;
               transition: all 0.2s;
               border-bottom: 2px solid teal;
            }
         .dropdown-content {
            width: 250px;
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            top: 100%;
         }
            .dropdown-content a {
               color: black;
               padding: 12px 16px;
               text-decoration: none;
               display: block;
            }
               .dropdown-content a:hover {
                  background-color: #f1f1f1;
               }
         .dropdown:hover .dropdown-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
         }
   .icon {
      display: none;
   }
@media screen and (max-width: 600px) {
   .logo_holder {
      left: 0;
      width: 60%;
      height: 100%;
   }
   .link_holder {
      display: none;
   }
   .icon {
      right: 0;
      width: 75px;
      height: 100%;
      color: teal;
      font-size: 25px;
      position: absolute;
      text-decoration: none;
      box-sizing: border-box;

      display: flex;
      align-items: center;
      justify-content: center;
   }
      .icon i {
         width: 100%;
         height: 100%;
         box-sizing: border-box;

         display: flex;
         align-items: center;
         justify-content: center;
      }
}
@media screen and (max-width: 600px) {
   .navbar.responsive .link_holder {
      right: 0;
      top: 60px;
      width: 75%;
      height: 560px;
      display: flex;
      transition: all 1s;
      flex-direction: column;
      background-color: white;
      border-top: 1px solid gold;

      display: flex;
      flex-direction: column;
      justify-content: start;
   }
      .navbar.responsive #navlink_news {
         width: 100%;
         height: 50px;
         box-sizing: border-box;
         border-bottom: 2px solid teal;
      }
      .navbar.responsive #navlink_process {
         width: 100%;
         height: 200px;
         box-sizing: border-box;

         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: start;
      }
      .navbar.responsive #navlink_categories {
         width: 100%;
         height: 250px;
         box-sizing: border-box;

         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: start;
      }
      .navbar.responsive #navlink_about {
         width: 100%;
         height: 50px;
         box-sizing: border-box;
         border-bottom: 2px solid teal;
      }
         .navbar.responsive #navlink_news a {
            color: goldenrod;
         }
         .navbar.responsive #navlink_process a {
            height: 50px;
            color: goldenrod;
            box-sizing: border-box;
         }
            .navbar.responsive #navlink_process .dropbtn {
               border-bottom: 2px solid teal;
            }
         .navbar.responsive #navlink_categories a {
            height: 50px;
            color: goldenrod;
            box-sizing: border-box;
         }
            .navbar.responsive #navlink_categories .dropbtn {
               border-bottom: 2px solid teal;
            }
         .navbar.responsive #navlink_about a {
            color: goldenrod;
         }

         .navbar.responsive #navlink_process .dropdown-content {
            top: 50px;
            width: 100%;
            height: 150px;
            position: none;
            background-color: #dedede;
            box-shadow: none;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
         }
         .navbar.responsive #navlink_categories .dropdown-content {
            top: 0px;
            width: 100%;
            height: 200px;
            position: relative;
            background-color: #dedede;
            box-shadow: none;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
         }
            .navbar.responsive #navlink_process .dropdown-content a,
            .navbar.responsive #navlink_categories .dropdown-content a{
               color: black;
            }
}
/* ! NAVIGATION BAR [ END ] ! */ 
